body {
    background-image: url(../images/result3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
}

.text {
    font-size: 2rem;
    color: black;
    text-shadow: 0.5px 0.5px rgba(0, 0, 0, 2);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-align: center;
    margin: 0;
    padding: 20px;
    position: absolute;
}

.result {
    top: 10px;
    left: 10px;
}

.advice {
    bottom: 10px; 
    right: 10px; 
}

button{
    position: absolute;
    bottom: 50px;
    left: 40px;
}

@media (max-width: 768px) {
    .text {
        font-size: 1.5rem;
    }
    button {
        bottom: 30px;
        left: 20px;
      }
}

@media (max-width: 576px) {
    .text {
        font-size: 1.2rem;
    }
    button {
        bottom: 20px;
        left: 10px;
        font-size: 0.8rem;
      }
}

@media (max-width: 400px) {
    .text {
      font-size: 1rem;
      }
    button {
      bottom: 10px;
      left: 5px;
      font-size: 0.6rem;
      }  
      
  }